ion-content {
    --ion-background-color:rgb(238, 238, 238);
}

ion-item {
    
    margin-top: 10px;
    
    }

h1 {
    font-size: 50px;
    color: #3880ff;
}

a {
    color: white;
    text-decoration: none;
}
.logo {
    height: 250px;
    position: relative;
}

.logo img {
    width: 150px;
    position: absolute;
    font-size: 9em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.padding {
    padding: 5%;
}